#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#picture {
  height: 150px;
  background: #000;
  color: #fff;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 5px;
}
ion-img {
  max-width: 100px;
  max-height: 100px;
}
h2 {
  font-size: 1.2rem;
  margin: 5px 0;
}
p {
  font-size: 0.9rem;
  margin: 0;
}